.main {
  width: 100%;
  display: flex;
  justify-content: left;
  margin-left: 32px;
}

.main__content {
  height: 100%;
  display: flex;
  justify-content: center;
}

.about-page {
  display: flex;
  align-items: center;
}

.timeline-page {
  display: flex;
  align-items: center;
}

.work-history-page {
  display: flex;
  align-items: center;
  gap: 64px;
}

.software-projects-page {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding: 64px 32px;
}
