.main {
  width: 100%;
  display: flex;
  justify-content: left;
  margin-left: 32px;
}

.main__content {
  width: 100%;
  max-width: 1200px;
  display: flex;
}

.about-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeline-page {
  display: flex;
  justify-content: left;
  align-items: center;
}

.work-history-page {
  display: flex;
  align-items: center;
  gap: 64px;
}

.software-projects-page {
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding: 64px 32px;
}

.game-development-page {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 0;
}
