.main {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 32px;
}

.main__content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.work-history-page {
  display: flex;
  align-items: center;
  gap: 64px;
}
